.menu-item {
    position: relative;
}

.menu-link {
    background-color: gray;
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 50px 20px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.submenu {
    position: absolute;
    height: 86%;
    top: 0;
    list-style: none;
    padding: 15px;
    margin: 0;
    background-color: gray;
    transform: translateX(-120%);
    transition: transform 300ms ease-in-out;
}

.menu-item:hover .submenu {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.submenu-item {
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.link:hover {
    color: orange;
}